<% var currentURLParam = encodeURIComponent(req.url); %>

<% if (repete.local && repete.local.image) { %>
<style>
  body {
    background: url("<%= repete.local.image %>") white center center;
    background-size: cover;
  }

  html {
    background-color: white;
  }

  body > div.container {
    background-color: white;
  }

</style>
<% } %>

<h1>
  <a class="btn" style="border-color: buttonface;" href="/repetes/" role="button"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp; Répètes</a>
  Répète du <%= repete.debut.toLocaleDateString() %> <%= repete.local.nom %>
  <% if (repete.googleId) { %>
  <a href="https://drive.google.com/drive/folders/<%= repete.googleId %>" title="Ouvrir le dossier de la répète dans Google Drive">
    <svg x="0px" y="0px" height="24px" width="24px" focusable="false" viewBox="0 0 24 24" fill="#8f8f8f"><g><path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"></path><path d="M0 0h24v24H0z" fill="none"></path></g></svg>
  </a>
  <% } %>
</h1>

<h2>
  Enregistrements :

  <% if (repete.enregistrements) { %>
  <button type="button" class="btn btn-primary" title="Télécharger un ZIP contenant les <%=repete.enregistrements.length%> enregistrements de cette répète"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp; ZIP</button>
  <button type="button" class="btn" onclick="getListe();" title="Copier les noms des <%=repete.enregistrements.length%> enregistrements (pour un mail par exemple)"><span class="glyphicon glyphicon-th-list"></span>&nbsp; Liste</button>
  <% } %>
</h2>

<% if (repete.enregistrements) { %>
<div id="enregistrements" class="list-group">
  <%
    // On enregistre la liste de tous les morceaux pour savoir si on a joué plus d'une fois un morceau
    var occurrences = {};

    repete.enregistrements.forEach(function(enr) {

      // On a déjà vu le morceau dans la liste ?
      if (enr.morceau) occurrences[enr.morceau.id] = occurrences[enr.morceau.id] ? occurrences[enr.morceau.id] + 1 : 1;
  %>

  <!-- Lien pour télécharger directement : https://docs.google.com/uc?export=download&id=<%=enr.id%> -->
  <li class="list-group-item <%= !enr.morceau ? "list-group-item-warning" : "" %>">

    <% if (enr.audio()) { %>
    <a href="<%= enr.audio() %>" type="button" class="btn btn-xs" title="Lire l'enregistrement directement sur le web"><span class="glyphicon glyphicon-play-circle"></span></a>
    <% } %>

    <% if (enr.morceau) { %>
    <!-- Morceau connu -->
    <b><%= enr.morceau.nom %></b> :
    <% } else { %>
    <!-- Morceau inconnu -->
    <a href="/enregistrement/<%=enr.id%>/set-morceau?from=<%=currentURLParam%>" title="Lier à un morceau"><span class="label label-warning">Morceau inconnu</span></a>
    <% } %>

    <a href="<%= enr.fichier() %>" title="Télécharger l'enregistrement"><%= enr.nom %></a>

    <%
      // On ajoute une étiquette si on déjà rencontré le morceau dans la répète
      if (enr.morceau && occurrences[enr.morceau.id] > 1) {
        var occ = occurrences[enr.morceau.id];
    %>
    <span class="label label-default" title="C'est là <%=occ%>e fois qu'on a joué &quot;<%=enr.morceau.nom%>&quot; lors de cette répète"><%=occ%></span>
    <%
      }
    %>

  </li>

  <% }); %>
</div>

<!--<h3>Ajouter des fichiers :</h3>-->

<form name="upload">
  <input type="file" name="upload" multiple>

  <br/>
  <p>ou ajouter un fichier déjà sur Google Drive : </p>
  <input type="text" name="googleLink" placeholder="ID du fichier dans Google Drive" />
  <input type="button" name="googleLinkButton" value="Ajouter" onclick="importGoogleFile(this.form.googleLink.value)" />

  <% if (repete.googleId) { %>
  <br/>
  <br/>
  <p>ou tout importer d'un coup depuis le dossier Google Drive :</p>
  <input type="button" name="importGoogleFolderButton" value="Importer tout le dossier" onclick="this.disabled = true; importGoogleFolder('<%= repete.googleId %>')" />
  <progress id="importGoogleFolderProgress" style="visibility: hidden;"></progress>
  <% } %>

</form>

<script src="/js/upload.js"></script>
<script>

  // Id du dossier si existant
  <% if (repete.googleId) { %>
  window.gDirId = "<%= repete.googleId %>";
  <% } %>

  // openClassRoom :
  var form = document.forms.upload;
  detectUpload(form.upload, "#enregistrements");

  // Contexte
  var repeteId = <%= repete.id %>;

  /**
   * liste des morceaux pour être copié/collé dans un mail par exemple
   */
  function getListe() {
    var liste = [];
    var parent = $("#enregistrements");
    parent.find(".list-group-item").each(function() {

      // On prend uniquement le nom du morceau si on le connait
      var morceauElt = $(this).find("b");
      var text = morceauElt.size() ? morceauElt.text() : this.innerText;
      liste.push(text);
    });

    prompt('Copier la liste des morceaux ci-dessous', liste.join('\n'));
  }



</script>

<% } else { %>
Aucun
<% } %>

